{% extends 'base.html' %}
{% block content %}
<div class="container p-2 my-2">
  <p class="display-5">Dashboard</p>
  <div class="container-sm p-2">
    <h4>Ventas totales</h5>
    <div class="container">
      <canvas height="100px" id="ventasTotales"></canvas>
    </div>
    <div class="container">
      <div class="row">
        <div class="col" style="display: flex;flex-direction: column;justify-content: center;">
          <h4>Ordenes totales</h4>
          <div style="height: 300px;">
            <canvas height="100px" id="ordenesTotales"></canvas>
          </div>
        </div>
        <div class="col" style="display: flex;flex-direction: column;justify-content: center;">
          <h4>Ordenes entregadas y no entregadas</h4>
          <div style="height: 300px;">
            <canvas height="100px" id="ordenesEstado"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  </div>
</div>

<script>
  const ctx = document.getElementById('ventasTotales');
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [8, 12, 15, 10, 13, 19],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      interaction: {
        mode: 'index',
        intersect: false,
      },
    stacked: false,
    plugins: {
      title: {
        display: true,
      }
    }}
  });

  const data = {
  labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 1
  }]
};

const config = {
  type: 'doughnut',
  data: data,
  
};

  

const ordenesEstado = document.getElementById('ordenesEstado');
const ordenesTotales = document.getElementById('ordenesTotales');

new Chart(ordenesTotales,config)
new Chart(ordenesEstado,config);

</script>

{% endblock %}