{% extends 'base.html' %}
{% block content %}
<div class="container p-2 my-2">
    <p class="display-5">Dashboard</p>
    <div class="container-sm p-2">
        <h4>Ventas totales</h5>
            <div class="container">
                <canvas height="400px" id="ventasTotales"></canvas>
            </div>
            <div class="container">
                <div class="row p-4">
                    <div class="col m-2" style="display: flex;flex-direction: column;align-items: center;">
                        <h4>Ordenes totales</h4>
                        <div style="height: 300px;">
                            <canvas height="100px" id="ordenesTotales"></canvas>
                        </div>
                    </div>
                    <div class="col m-2" style="display: flex;flex-direction: column;align-items: center;">
                        <h4>Ordenes enviadas y no enviadas</h4>
                        <div style="height: 300px;">
                            <canvas height="100px" id="ordenesEstado"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    let date = new Date;
    let mes = date.getMonth() + 1;
    let year = date.getFullYear();

    let diasTotales = new Date(date.getFullYear(), mes, 0).getDate();

    let diasList = [];

    for (let i = 1; i <= diasTotales; i++) {
        diasList.push(i);
    }

    const ctx = document.getElementById('ventasTotales');

    const ordenesEstado = document.getElementById('ordenesEstado');
    const ordenesTotales = document.getElementById('ordenesTotales');

    $.getJSON('graficaDatosJSON/', function (data, jqXHR) {

        const dataOrdenes = {
            labels: [
                'Pagadas',
                'No pagadas',
            ],
            datasets: [{
                data: data.pedidosPagadosyNoPagados,
                backgroundColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                ],
                hoverOffset: 1
            }]
        };

        const dataEnvios = {
            labels: [
                'Enviadas',
                'No enviadas',
            ],
            datasets: [{
                data: data.pedidosEnviadosyNoEnviados,
                backgroundColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                ],
                hoverOffset: 1
            }]
        };

        const configOrdenes = {
            type: 'doughnut',
            data: dataOrdenes,
        };

        const configEnvios = {
            type: 'doughnut',
            data: dataEnvios,
        };

        new Chart(ordenesTotales, configOrdenes);
        new Chart(ordenesEstado, configEnvios);

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: diasList,
                datasets: [{
                    label: 'Ordenes pagadas',
                    data: data.pedidosTotalesPagados,
                    borderWidth: 1
                },
                {
                    label: 'Ordenes no pagadas',
                    data: data.pedidosTotalesNoPagados,
                    borderWidth: 1
                }
                ]
            },
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                maintainAspectRatio: false,
                stacked: false,
                plugins: {
                    title: {
                        display: true,
                        text: `Ventas: ${mes}/${year}`
                    }
                }
            }
        });
    });

    function reloadElement() {
        const element = document.getElementById('ventasTotales');
        element.width = canvas.parentElement.clientWidth;
        element.height = 100;
    }

    window.addEventListener('resize', reloadElement);

</script>

{% endblock %}