{% extends 'base.html' %}
{% block content %}

<div class="container p-2 my-2">
    <p class="display-5"><span></span>Pedido N°: {{pedido.id}}</p>
    <p class="fs-4"><strong>Dirección: </strong>{{pedido.cliente.direccion}}</p>
    <p class="fs-4"><strong>Cliente: </strong>{{pedido.cliente}}
        <strong>Total: </strong>$ {{pedido.total|floatformat:"2g"}}
        <strong>Estado pago: </strong>
        {% if pedido.pagado %}
        <a data-bs-toggle="tooltip" title="Cambiar Estado" href="{% url 'editarPedidoPago' pedido.id %}"
            style="display: inline;" class="btn btn-outline-success">PAGADO</a>
        {% else %}
        <a data-bs-toggle="tooltip" title="Cambiar Estado" href="{% url 'editarPedidoPago' pedido.id %}"
            style="display: inline;" class="btn btn-outline-danger">NO PAGADO</a>
        {% endif %}
        <strong>Estado envio: </strong>
        {% if pedido.enviado %}
        <a data-bs-toggle="tooltip" title="Cambiar Estado" href="{% url 'editarPedido' pedido.id %}"
            style="display: inline;" class="btn btn-outline-success">ENVIADO</a>
        {% else %}
        <a data-bs-toggle="tooltip" title="Cambiar Estado" href="{% url 'editarPedido' pedido.id %}"
            style="display: inline;" class="btn btn-outline-danger">NO ENVIADO</a>
        {% endif %}
    </p>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.item.nombre}}</td>
                <td>{{item.item.precio|floatformat:"2g"}}</td>
                <td>{{item.cantidad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock %}